<div class="site">
	<div class="fullscreen">
		<div class="row">
			<div class="col-sm-12 bandeau">
			{# alternative: block reecrit avec 4 champs supplementaires dans region bandeau #}
			<div class="bandeau_image_couverture_paysage"><img src="{{ image_bandeau }}"/></div>
			<div class="bandeau_titre">{{ node.label }}</div>
			<div class="bandeau_resume">{% if node.field_resume %}{{ node.field_resume.value }}{% endif %}</div>
			<div class="bandeau_periode_publication">{% if node.field_periode_publication %}{{ node.field_periode_publication.value }}{% endif %}</div>
			<div class="bandeau_date_publication">{% if node.field_date_publication %}{{ node.field_date_publication.value }}{% endif %}</div>
			</div>
		</div>
	</div>

	{% if page.header %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12 header">
					{{ page.header }}
				</div>
			</div>
		</div>
	{% endif %}

	<div id="main">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 content_top">
						{% if page.content_top %}
							{{ page.content_top }}
						{% endif %}
					</div>
					{% if page.sidebar %}
						<div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 page_content_with_sidebar">
							{{ page.content }}
						</div>
						<div class="archive-sidebar side-bar col-lg-4 col-md-3 hidden-sm hidden-xs">
							{{ page.sidebar}}
						</div>		
					{% else %}
						<div class="col-sm-12 page_content">
							{{ page.content }} 
						</div>
					{% endif %}
					<div class="col-sm-12 content_bottom">
						{% if page.content_bottom %}
							{{ page.content_bottom }}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% if page.footer %}
	    <footer>
			<div class="footer-landing f-home1">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
</div>
