{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  {{ 'Thank you for your order.'|t }} <br>
  {{ 'Your order number is @number.'|t({'@number': order_entity.getOrderNumber}) }} <br />

  <table style="padding-top: 15px; padding-bottom:15px; width: 100%">
    <tbody style="text-align: left;">
    {% for order_item in order_entity.getItems %}
    <tr>
      <td>
        {{ order_item.getQuantity|number_format }} x
      </td>
      <td>
        <span>{{ order_item.label }}</span>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  {{ 'You can now access your orders and your purchases on your profile page, by clicking on MY ACCOUNT in the main menu.'|t }}<br />

  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>
