<div class="content-blog-item col-lg-9 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 new-date">
		<b>{{ fields.created.content }}</b>
		<p class="my">{{ fields.created_1.content }}</p>
	</div>
	<div class="title-blog col-lg-10 col-md-10 col-sm-10  col-xs-9">
		<a href="{{ fields.path.content|render|striptags|trim }}">{{ fields.title.content }} </a>
		<div class="view-point">
			<i class="fa fa-eye"><b>{{ fields.totalcount.content }} </b></i>
			<i class="fa fa-comment-o"><b>{% if node.comment.comment_count %} {{ node.comment.comment_count }} {% else %} 0 {% endif %} </b></i>
		</div>
	</div>
</div>